SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/inventarios
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
APP_PORT=8080
JWT_SECRET= "mySecretKey123456789012345678901234567890"
JWT_EXPIRATION=1800000
JWT_ISSUER=gestion_inventario

SPRING_JPA_HIBERNATE_DDL_AUTO=update

API_BASE_PATH=/api/v1
